h1{
	font-size: 15pt;
	text-align: center;
}

body{
	background-color: green;
}

p{
	font-size: 30px;
	text-align: center;
	border: 5px dashed #20bcd5;
	padding: 15px;
}


.attractions{
	font-size: 30px;

.video{
	text-align: center;

}